NET "Clk" LOC = "B8";

NET "Reset" LOC = "G12"; // BTN0
NET "CW2" LOC = "F3"; // SWITCH5
NET "CW7" LOC = "C11"; //BTN1
NET "CW0" LOC = "M4"; // BTN2
NET "CW1" LOC = "A7"; // BTN3

NET "SelMPX<1>" LOC = "B4"; // Switch3
NET "SelMPX<0>" LOC = "K3"; // Switch2

NET "AddressBus<2>" LOC = "B7"; // External LEDs
NET "AddressBus<1>" LOC = "C9";
NET "AddressBus<0>" LOC = "D12";

NET "CW3" LOC = "P11"; // Switch0
NET "CW4" LOC = "L3"; // Switch1

NET "SalRI<7>" LOC = "G1"; // Led7
NET "SalRI<6>" LOC = "P4"; // Led6
NET "SalRI<5>" LOC = "N4"; // Led5
NET "SalRI<4>" LOC = "N5"; // Led4
NET "SalRI<3>" LOC = "P6"; // Led3
NET "SalRI<2>" LOC = "P7"; // Led2
NET "SalRI<1>" LOC = "M11"; // Led1
NET "SalRI<0>" LOC = "M5"; // Led0

NET "SalFZ" LOC = "B5"; // External LED

NET "Cathode<6>" LOC = "L14";
NET "Cathode<5>" LOC = "H12";
NET "Cathode<4>" LOC = "N14";
NET "Cathode<3>" LOC = "N11";
NET "Cathode<2>" LOC = "P12";
NET "Cathode<1>" LOC = "L13";
NET "Cathode<0>" LOC = "M12";

NET "Anode<3>" LOC = "F12";
NET "Anode<2>" LOC = "J12";
NET "Anode<1>" LOC = "M13";
NET "Anode<0>" LOC = "K14";
